.title_box1 {
  font-size: 30px;
  text-align: center;
  font-family: 'Chewy', cursive;
}
.title_box2{
  font-size: 30px;
  text-align: center;
  font-family: 'Chewy', cursive;
}


.title_box3{
  font-size: 30px;
  font-family: 'Chewy', cursive;
  text-align: center;
}


.card:hover{
  background-image: linear-gradient(270deg, rgb(131, 234, 252) 0%, rgb(255, 130, 232) 100%);
}


.clock{
  font-family: 'Luckiest Guy', cursive;

font-size: 100px;
  text-align: center;
}

